.classpath
.idea/
.project
.settings/
bin/
target/
*.iml
*.ipr
*.iws
*.log
*.log.*
*.sh
.vertx/*
.DS_Store
pom.xml.versionsBackup
.svn
/*.sh
/**/generated/
build/
schema/
node_modules/
.gradle
infinitest.filters

